body{
    background-color: rgb(42, 45, 58);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}
#neonText{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 60px 50px;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0  20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
}
#neonText:hover{
    padding: 80px 70px;
    
}
#login{
    background-color: rgba(42, 45, 58, 0);
    border-color: #000000; 
    border-radius: 20px;
    border-style: hidden;
    font-size: 25px;
    color: #ffffff;
}
#projects{
    background-color: rgba(0, 0, 0, 0);
    border-color: #000000; 
    border-radius: 20px;
    border-style: hidden;
    font-size: 25px;
    color: #ffffff;
}

#login:hover{
    box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0  20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
    background-color: rgb(255, 255, 255);
    border-color: #ffffff; 
    color: #000000;
}
#projects:hover{
    box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0  20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
    background-color: rgb(255, 255, 255);
    border-color: #ffffff; 
    color: #000000;
}
.top{
    padding: 20px;
    border-bottom:solid #fff;
    position: relative;
    margin: -7px;
    
}
#test{
    box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0  20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
    padding: auto;
    
}
.right{
    display: flex;
    justify-content: left;
    align-items: center;
}